# Python's buil-in functions

### Lambda

- it's like a function that has no name (anonymous functions)
- one line only
- can be saved into a variable, eg. variable = lambda something

Syntax: lambda parameter (or not): a single expression (no multilines!) which is automatically returned (no need for 'return' keyword)

In [1]:
squere = lambda num: num ** 2
print(squere(6))

36

In [1]:
add = lambda a,b: a + b
print(add(1,2))

3

### Maps

- its a function that accepts at least 2 arguments: a function (eg. lambda) and an iterable (a list, dictionary, tuple, string, set)
- runs a lambda for each value in the iterable and returns a map object which can be converted into another data structure

In [12]:
numbers = [2, 4, 6, 8, 10]

squere = map(lambda x: x ** 2, numbers) 
list(squere)

[4, 16, 36, 64, 100]

In [24]:
people = ["peter", "anna", "karla"]

peeps = map(lambda something: something.upper(), people)
list(peeps)

['PETER', 'ANNA', 'KARLA']

In [22]:
names = [{"first": "Peter",     "last": "Quandt"},
         {"first": "Karla",     "last": "Quandt"},
         {"first": "Gianni",    "last": "Quandt"},
         {"first": "Pablo",     "last": "Quandt"}]

first_name = map(lambda x: x["first"], names) 
list(first_name)

['Peter', 'Karla', 'Gianni', 'Pablo']

### Filter

- there is a lambda for each value in the iretable (a list, dictionary, tuple, string, set)
- returns a filter object which can be converted into another data structure 
- the object contains only values which are true to lambda

In [1]:
some_list_2 = [1, 2, 3, 4]

filter_function = list(filter(lambda x: x % 2 == 0, some_list_2))
filter_function

[2, 4]

In [3]:
a_names = ["peter", "anna", "karla", "angel"]

filter_names = list(filter(lambda x: x[0] == "a", a_names))
filter_names

['anna', 'angel']

### Filter + Map

In [6]:
names_3 = ["peter", "anna", "karla", "angel"]

new_names = list(
                map(lambda name: f"Your instructor is {name}", filter(lambda value: len(value) < 5, names_3))
                )          
new_names

['Your instructor is anna']

### All & Any

##### All
- returns True if ALL elements if the iretable are truthy (or if the iretable is empty)

In [3]:
peeps = ["Cindy", "Clara", "Carla", "Coco"]
all([name[0] == "C" for name in peeps])

True

In [4]:
peeps = ["Cindy", "Clara", "Carla", "Coco", "Peter"]
all([name[0] == "C" for name in peeps])

False

In [7]:
all([num for num in [2, 4, 6] if num % 2 == 0])

True

In [8]:
all([char for char in "aio" if char == "aeiou"])

True

##### Any
- returns True is ANY element in iterable is truthy

In [9]:
peeps = ["Cindy", "Clara", "Karla", "Coco", "Peter"]
any([name[0] == "C" for name in peeps])

True

In [11]:
any([num for num in [1, 3, 2, 4, 6] if num > 2])

True

### Sorted

- returns new sorted list of items in iretable

In [14]:
more_numbers = [1, 5, 6, 2]
sorted(more_numbers)

[1, 2, 5, 6]

In [16]:
sorted(more_numbers, reverse=True)

[6, 5, 2, 1]

In [17]:
users = [
	{"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
	{"username": "katie", "tweets": ["I love my cat"]},
	{"username": "jeff", "tweets": [], "color": "purple"},
	{"username": "bob123", "tweets": [], "num": 10, "color": "teal"},
	{"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
	{"username": "guitar_gal", "tweets": []}
]

sorted(users,key=lambda user: len(user["tweets"]), reverse=True)

[{'username': 'samuel',
  'tweets': ['I love cake', 'I love pie', 'hello world!']},
 {'username': 'doggo_luvr', 'tweets': ['dogs are the best', "I'm hungry"]},
 {'username': 'katie', 'tweets': ['I love my cat']},
 {'username': 'jeff', 'tweets': [], 'color': 'purple'},
 {'username': 'bob123', 'tweets': [], 'num': 10, 'color': 'teal'},
 {'username': 'guitar_gal', 'tweets': []}]

### Max & Min

##### Max

In [18]:
max(4, 5, 1)

5

In [19]:
min(4, 5, 1)

1

In [20]:
names_2 = ['Arya', "Samson", "Dora", "Tim", "Ollivander"]

# finds the minimum length of a name in names
# min(len(name) for name in names_2) # 3

# find the longest name itself
max(names_2, key=lambda n:len(n)) #Ollivander

'Ollivander'

In [25]:
songs = [
	{"title": "happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

# Finds the song with the lowerest playcount
# min(songs, key=lambda s: s['playcount']) #{"title": "happy birthday", "playcount": 1}

# Finds the title of the most played song
max(songs, key=lambda s: s['playcount'])['title'] #YMCA

'YMCA'

### Reversed

- will return reversed iterator
- used when iterating over something in reverse

In [2]:
list(reversed("Hello"))

['o', 'l', 'l', 'e', 'H']

In [3]:
for char in reversed("Hello"):
    print(char)

o
l
l
e
H

In [6]:
for x in reversed(range(0,11)):
    print(x)

10
9
8
7
6
5
4
3
2
1
0

### Absolute -> abs()

- returns absolute value of a number
- works only with integers and strings

In [7]:
abs(-23)

23

In [8]:
abs(3.4444)

3.4444

### Sum

- takes iretable and optional start (default start is 0)
- returns sum of iretable, from left to right
- doesn't work with strings

In [10]:
sum([1, 2, 3], 10)

16

### Round

- round the float
- can specify how many digits

In [12]:
round(3.12745, 2)

3.13

### Zip

- pairs togethers values from lists
- lists should be same lenght, otherwise it will stop with the last value in the shortest list

In [17]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6, 7]
words = ["hi", "hello", "lol", "cat"]

list(zip(nums1,nums2))

[(1, 4), (2, 5), (3, 6)]

In [15]:
dict(zip(nums1,nums2))

{1: 4, 2: 5, 3: 6}

In [19]:
tuple(zip(nums1, nums2, words))

((1, 4, 'hi'), (2, 5, 'hello'), (3, 6, 'lol'))